/*雪花背景特效页面css*/
@font-face { font-family: "Digital"; src: url('../fonts/Adequate-ExtraLight.ttf'); }
@font-face { font-family: "Micro"; src: url('../fonts/MicroExtendFLF-Italic.ttf'); }
body {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: bottom center;
	background-color:#FFF;
}

.content {
	display: initial;
	width: 100%;
	top: 0;
	left: 0;
	display: table;
	vertical-align: middle;
	height: 100vh;
}

.content .inner {
	display:table-cell;
	float:left;
	vertical-align: top;
	font-family: "Muli-Light";
}
.time, .date, .seconds, .day , .hello{
	font-family: "Micro";
	color:#FFF;
}

.content .innerr {
	display:table-cell;
	vertical-align: top;
	font-family: "Muli-Light";
}

.kuang{
 	font-family: "Microsoft YaHei";
	color:#FFF;
	font-size:15px;  
}

.div-inline{ display:inline} 



#allmap{
	position: absolute;
	top:5px;
	left: 25px;
	width:300px;
	height:250px;
	border-radius: 50px;
}
#img {
	position: absolute;
	top: 0px;
	left: 500px;
	width: 500px;
	height: 200px;
	border-radius: 460px;
}



#particles-js{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}






